body {
  background-image: url("https://tuckergrams.fun/wp-content/uploads/2025/11/blurmap4.0.25.gif");
  background-size: 100% 125%;
  background-repeat: no-repeat;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: white;
  cursor: crosshair;
}
.speedsign {
  width: 100%;
  height: fit-content;
  margin-top: 30px;
}
.speedsignimg {
  width: 100%;
  height: 90px;
  object-fit: cover;
}
.sliderSpeed {
  width: 100%;
  margin-top: -75px;
}
.controlSpeed {
  appearance: none;
  width: 98%;
  height: 40px;
  margin-left: 10px;
  background: transparent;
  outline: none;
  opacity: 1;
  border-radius: 0%;
}
.controlSpeed::-webkit-slider-thumb {
  border: none;
  height: 55px;
  width: 55px;
  background: transparent;
  background-image: url("https://tuckergrams.fun/wp-content/uploads/2026/02/dot285.gif");
  appearance: none;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0 0 0 0;
  border-radius: 5px;
}
.loopsign {
  width: 100%;
  height: 90px;
  object-fit: cover;
  margin-top: 50px;
}

.sliderLoop {
  width: 100%;
  margin-top: -75px;
}
.controlLoop {
  appearance: none;
  width: 98%;
  height: 40px;
  margin-left: 10px;
  background: transparent;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 0%;
}
.controlLoop::-webkit-slider-thumb {
  border: none;
  height: 55px;
  width: 55px;
  background: transparent;
  background-image: url("https://tuckergrams.fun/wp-content/uploads/2026/02/dotmid.475.gif");
  appearance: none;
  background-size: cover;
  box-shadow: 0 0 0 0;
  border-radius: 5px;
}
.possign {
  width: 100%;
  height: 90px;
  object-fit: cover;
  margin-top: 50px;
}
.sliderScrub {
  width: 100%;
  margin-top: -75px;
}
.controlScrub {
  appearance: none;
  width: 98%;
  height: 40px;
  margin-left: 10px;
  background: transparent;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 0%;
}
.controlScrub::-webkit-slider-thumb {
  border: none;
  height: 55px;
  width: 55px;
  background: transparent;
  background-image: url("https://tuckergrams.fun/wp-content/uploads/2026/02/dotmid.475.gif");
  appearance: none;
  background-size: cover;
  box-shadow: 0 0 0 0;
  border-radius: 5px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 80px;
  cursor: pointer;
}
.B1 {
  border: none;
  width: 200px;
  height: 112px;
  background: transparent;
  background-image: url("https://tuckergrams.fun/wp-content/uploads/2025/12/enter22.gif");
  background-size: cover;
  border-radius: 0%;
}
.B1:hover,
.B1:focus {
  box-shadow: 0 0.5em 0.5em -0, 4em var(--hover);
  -webkit-transform: translateY(-4em);
  transform: translateY(-4em);
  transform: scale(1.5);
}
.B2 {
  border: none;
  width: 200px;
  height: 112px;
  background: transparent;
  background-image: url("https://tuckergrams.fun/wp-content/uploads/2025/11/TYPEGIF.gif");
  background-size: cover;
  border-radius: 0%;
}
.B2:hover,
.B2:focus {
  box-shadow: 0 0.5em 0.5em -0, 4em var(--hover);
  -webkit-transform: translateY(-4em);
  transform: translateY(-4em);
  transform: scale(1.5);
}
.B3 {
  border: none;
  width: 200px;
  height: 112px;
  background: transparent;
  background-image: url("https://tuckergrams.fun/wp-content/uploads/2025/11/MEASURE.gif");
  background-size: cover;
  border-radius: 0%;
}
.B3:hover,
.B3:focus {
  box-shadow: 0 0.5em 0.5em -0, 4em var(--hover);
  -webkit-transform: translateY(-4em);
  transform: translateY(-4em);
  transform: scale(1.5);
}
.B4 {
  border: none;
  width: 200px;
  height: 112px;
  background: transparent;
  background-image: url("https://tuckergrams.fun/wp-content/uploads/2025/12/disapp.gif");
  background-size: cover;
  border-radius: 0%;
}
.B4:hover,
.B4:focus {
  box-shadow: 0 0.5em 0.5em -0, 4em var(--hover);
  -webkit-transform: translateY(-4em);
  transform: translateY(-4em);
  transform: scale(1.5);
}
